<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script th:src="@{/js/confirmation.js}" charset="utf-8"></script>
    <title>個人申請詳細画面</title>
</head>
<body>
<div class="select-user">
  <h1>個人申請承認画面</h1>
  <span class="name" th:text="${userData.name}"></span>
  <span class="account" th:text="'@' + ${userData.account}"></span>
</div>
<div class="table" >
  <table border="1">
    <tbody>
    <tr>
      <th>日付</th>
      <th>勤務区分</th>
      <th>開始</th>
      <th>終了</th>
      <th>休憩時間</th>
      <th>労働時間</th>
      <th>メモ</th>
      <th>申請状況</th>
      <th>承認状況</th>
    </tr>

    <div class="table-contents" th:each="workingDatum : ${workingData}">
      <tr>
        <td th:text="${workingDatum.date}"></td>
        <td>
          <span th:if="${workingDatum.attend == 0}">出勤</span>
          <span th:if="${workingDatum.attend == 1}">リモート</span>
        </td>
        <td th:text="${workingDatum.startWork}"></td>
        <td th:text="${workingDatum.endWork}"></td>
        <td th:text="${workingDatum.breakDuration}"></td>
        <td th:text="${workingDatum.workDuration}"></td>
        <td th:text="${workingDatum.memo}"></td>
        <td>
          <span th:if="${workingDatum.status == 0}">未申請</span>
          <span th:if="${workingDatum.status >= 1}">申請済み</span>
        </td>
        <td>
          <span th:if="${workingDatum.status == 0}">申請されていません</span>
          <form th:action="@{/approval/{subjectId}(subjectId=${workingDatum.id})}" method="post" th:if="${workingDatum.status > 0}" class="switch-approval">
            <input type="hidden"  th:value="${workingDatum.date}" name="date" />
            <select name="approval" class="select-box">
              <option value="1" th:selected="${workingDatum.status == 1}" th:if="${workingDatum.status == 1}">選択してください</option>
              <option value="2" th:selected="${workingDatum.status == 2}">承認</option>
              <option value="3" th:selected="${workingDatum.status == 3}">差し戻し</option>
            </select>
            <input type="hidden" name="checkId" th:value="${workingDatum.userId}">
            <input type="submit" value="変更" disabled class="submit-approval">
          </form>
        </td>
    </div>
    </tbody>
  </table>
</div>
<a href="/application">
  <button class="signup-button table-button" type="button">申請一覧画面に戻る</button>
</a>
</body>
</html>