<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script th:src="@{/js/confirmation.js}" charset="utf-8"></script>
    <title>個人申請詳細画面</title>
</head>
<body>
<div class="select-user">
  <h1>個人申請承認画面</h1>
  <span class="name" th:text="${userData.name}"></span>
  <span class="account" th:text="'@' + ${userData.account}"></span>
</div>
<div class="table" >
  <table border="1">
    <tbody>
    <tr>
      <th>日付</th>
      <th>勤務区分</th>
      <th>開始</th>
      <th>終了</th>
      <th>休憩時間</th>
      <th>労働時間</th>
      <th>メモ</th>
      <th>申請状況</th>
      <th>承認状況</th>
    </tr>

    <div class="table-contents" th:each="workingDatum : ${workingData}">
      <tr>
        <td th:text="${workingDatum.localDate}"></td>
        <td>
          <span th:if="${workingDatum.attend == 0}">出勤</span>
          <span th:if="${workingDatum.attend == 1}">リモート</span>
        </td>
        <td th:text="${workingDatum.startWork}"></td>
        <td th:text="${workingDatum.endWork}"></td>
        <td th:text="${workingDatum.breakDuration}"></td>
        <td th:text="${workingDatum.workDuration}"></td>
        <td th:text="${workingDatum.memo}"></td>
        <td>
          <span th:if="${workingDatum.status == 0}">未申請</span>
          <span th:if="${workingDatum.status >= 1}">申請済み</span>
        </td>
        <td>
          <span th:if="${workingDatum.status == 0}">申請されていません</span>
          <form th:action="@{/approval/{subjectId}(subjectId=${workingDatum.id})}" method="post" th:if="${workingDatum.status > 0}" class="switch-approval">
            <input type="hidden"  th:value="${workingDatum.localDate}" name="date" />
            <select name="approval" class="select-box">
              <option value="1" th:selected="${workingDatum.status == 1}" th:if="${workingDatum.status == 1}">選択してください</option>
              <option value="2" th:selected="${workingDatum.status == 2}">承認</option>
              <option value="3" th:selected="${workingDatum.status == 3}">差し戻し</option>
            </select>
            <input type="hidden" name="checkId" th:value="${workingDatum.userId}">
            <input type="submit" value="変更" disabled class="submit-approval">
          </form>
        </td>

        <!-- ポップアップ表示ボタン -->
        <td>
          <button class="add" th:value="${workingDatum.id}" th:text="${workingDatum.localDate} + 'の勤怠を登録する'"></button>
        </td>
      </tr>

      <!-- ポップアップ内容 -->
      <dialog class="dialog" id="modalDialog" th:value="${workingDatum.id}">
        <div class="title">
          <h2 th:text="${workingDatum.localDate} + 'の勤怠登録'" />
        </div>
        <div id="dialog-container">
          <form th:action="@{/saveDate/{subjectId}(subjectId=${workingDatum.id})}" method="post">
            <span>勤務区分</span>
            <select name="attend" class="select-box">
              <option value="0" th:selected="${workingDatum.attend == 0}">出勤</option>
              <option value="1" th:selected="${workingDatum.attend == 1}">リモート</option>
              <option value="2" th:selected="${workingDatum.attend == 2}">選択してください</option>
            </select> <br/>
            <span>開始-終了</span>
            <input type="text" name="startWork" th:value="${workingDatum.startWork}"/>
            <input type="text" name="endWork" th:value="${workingDatum.endWork}"/> <br/>
            <span>休憩開始-終了</span>
            <input type="text" name="startBreak" th:value="${workingDatum.startBreak}"/>
            <input type="text" name="endBreak" th:value="${workingDatum.endBreak}"/> <br/>
            <span>メモ</span>
            <input type="text" name="memo" th:value="${workingDatum.memo}"/> <br/>
            <input type="hidden" name="checkId" th:value="${workingDatum.userId}">
            <input type="hidden" name="status" th:value="${workingDatum.status}">
            <button type="submit" value="entry">登録</button>
          </form>
          <form method="dialog">
            <button class="close" value="close">閉じる</button>
          </form>
        </div>
      </dialog>

      <!-- エラーメッセージがある場合のポップアップ内容 -->
      <div class="errorMessages" th:each="errorMessage : ${popupErrorMessages}" th:if="${popupErrorMessages != null}">

      <dialog id="autoOpenDialog" open>
        <div class="title">
          <h2 th:text="${workingDatum.localDate} + 'の勤怠登録'" />
          <span th:text="${errorMessage}"></span>
        </div>

          <div>
            <form th:action="@{/saveDate/{subjectId}(subjectId=${workingDatum.id})}" method="post">
              <span>勤務区分</span>
              <select name="attend" class="select-box">
                <option value="0" th:selected="${workingDatum.attend == 0}">出勤</option>
                <option value="1" th:selected="${workingDatum.attend == 1}">リモート</option>
                <option value="2" th:selected="${workingDatum.attend == 2}">選択してください</option>
              </select> <br/>
              <span>開始-終了</span>
              <input type="text" name="startWork" th:value="${workingDatum.startWork}"/>
              <input type="text" name="endWork" th:value="${workingDatum.endWork}"/> <br/>
              <span>休憩開始-終了</span>
              <input type="text" name="startBreak" th:value="${workingDatum.startBreak}"/>
              <input type="text" name="endBreak" th:value="${workingDatum.endBreak}"/> <br/>
              <span>メモ</span>
              <input type="text" name="memo" th:value="${workingDatum.memo}"/> <br/>
              <input type="hidden" name="checkId" th:value="${workingDatum.userId}">
              <input type="hidden" name="status" th:value="${workingDatum.status}">
              <button type="submit" value="entry">登録</button>
            </form>
            <form method="dialog">
              <button class="close" value="close">閉じる</button>
            </form>
          </div>
        </dialog>
      </div>

    </div>
    </tbody>
  </table>
</div>
<a href="/application">
  <button class="signup-button table-button" type="button">申請一覧画面に戻る</button>
</a>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const buttons = document.querySelectorAll('.add');
    const modalDialogs = document.querySelectorAll('.dialog');
    const closeButtons = document.querySelectorAll('.close');

    for (let index = 0; index < buttons.length; index += 1) {
      const button = buttons[index];
	  const modalDialog = modalDialogs[index];
	  const closeButton = closeButtons[index];

	  // モーダルを開く
	  button.addEventListener('click', async () => {
	    modalDialog.showModal();
	    // モーダルダイアログを表示する際に背景部分がスクロールしないようにする
        document.documentElement.style.overflow = "hidden";
	  });

	  // モーダルを閉じる
	  closeButton.addEventListener('click', () => {
	  modalDialog.close();
	  // モーダルを解除すると、スクロール可能になる
	  document.documentElement.removeAttribute("style");
	  });
	}
  });
</script>
</body>
</html>