<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ログイン</title>
    <th:block th:insert="~{fragments/header :: commonHeader(
        pageTitle=${pageTitle},
        isLoginPage=${true},
        isLoggedIn=${false},
        userCategory=${-1},
        currentPage=${currentPage}
    )}">
    </th:block>
</head>
<body>
<div class="errorMessages" th:each="errorMessage : ${errorMessages}" th:if="${errorMessages != null}">
    <span th:text="${errorMessage}"></span>
</div>

<div class="main-contents">
    <form th:action="@{/loginProcess}" method="post" th:object="${loginUser}">
        アカウント
        <input type="text" th:field="*{account}"/> <br/>
        パスワード
        <input type="password" th:field="*{password}"/> <br/>
        <input type="submit" class="login-button" value="ログイン">
    </form>
</div>
</body>
</html>