<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <title>ユーザ編集</title>
</head>
<body>
<!--<header th:replace="~{fragments/header :: commonHeader('ユーザ編集', false, ${isLoggedIn}, ${userCategory})}"></header>-->
<div class="errorMessages" th:each="errorMessage : ${errorMessages}" th:if="${errorMessages != null}">
    <span th:text="${errorMessage}"></span>
</div>

<div class="main-contents">
    <form th:action="@{/userEdit}" th:method="put" th:object="${editUser}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{stopped}">
        アカウント
        <input type="text" th:field="*{account}"/> <br/>
        パスワード
        <input type="password" th:field="*{password}"/> <br/>
        パスワード確認用
        <input type="password" th:field="*{checkPassword}"/> <br/>
        名前
        <input type="text" th:field="*{name}"/> <br/>
        ユーザ区分
        <select th:field="*{category}"> <br/>
            <option value="1">一般ユーザ</option>
            <option value="2">承認者</option>
            <option value="3">システム管理者</option>
        </select> <br/>
        <input type="submit" value="更新" class="primary-button">
    </form>
    <br>
    <a href="/userAdmin">
        <button class="back-to-top-button" type="button">ユーザ管理画面に戻る</button>
    </a>
</div>
</body>
</html>