<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/confirmation.js}" charset="utf-8"></script>
    <title>ユーザ管理</title>
    <th:block th:insert="~{fragments/header :: commonHeader(
        pageTitle='ユーザ管理',
        isLoginPage=false,
        isLoggedIn=${isLoggedIn},
        loginUser=${loginUser},
        userCategory=${userCategory},
        currentPage='/userAdmin' )}">
    </th:block>
</head>
<body>
<!--<header th:replace="~{fragments/header :: commonHeader('ユーザ管理', false, ${isLoggedIn}, ${userCategory})}"></header>-->

<div th:if="${errorMessages}" class="error-messages">
    <span th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></span>
</div>

<div class="user-list-container">
    <table class="user-table">
        <thead>
        <tr>
            <th>アカウント名</th>
            <th>名前</th>
            <th>ユーザ区分</th>
            <th>ユーザ状態</th>
            <th>ユーザ編集</th>
            <th>ユーザ削除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.account}"></td>
            <td th:text="${user.name}"></td>
            <td>
                <span th:if="${user.category == 1}">一般ユーザ</span>
                <span th:if="${user.category == 2}">承認者</span>
                <span th:if="${user.category == 3}">システム管理者</span> </td>
            <td>
                <form th:action="@{/switch/{id}(id=${user.id})}" th:method="put" class="switch-isStopped">
                    <input type="hidden"  th:value="${user.name}" name="name" />
                    <select name="isStopped" class="select-box" th:disabled="${user.id==loginUser.id}">
                        <option value="1" th:selected="${user.stopped == true}">稼働</option>
                        <option value="0" th:selected="${user.stopped == false}">停止</option>
                    </select>
                    <input type="submit" value="変更" class="update-isStopped-button" disabled>
                </form>
            </td>
            <td>
                <form th:action="@{/userEdit/{checkId}(checkId=${user.id})}" method="get">
                    <input type="submit" value="編集" class="edit-button"/>
                </form>
            </td>
            <td>
                <form th:action="@{/userDelete/{id}(id=${user.id})}" method="post">
                    <input type="submit" value="削除" class="delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="button-group">
    <a href="/signup">
        <button class="signup-button" type="button">新規ユーザ登録</button>
    </a>
    <a href="/ISA">
        <button class="back-to-top-button" type="button">ホーム画面に戻る</button>
    </a>
</div>

</body>
</html>